
<div id="info"></div>

<div class="col-sm-12">

    <div class="col-sm-7" >
        <div id="users"></div>
        <div id="locked"></div>
        <button class="col-sm-12 btn btn-success" id="new_team">New Team</button>
    </div>


    <div class="col-sm-5">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#general_menu">General</a></li>
            <li  ><a class ="hidden" id="spectator_menu" data-toggle="tab" href="#spectator_settings">Spectator settings</a></li>
            <li  ><a class ="hidden" id="team_menu" data-toggle="tab" href="#team_settings">Team settings</a></li>
            <li  ><a class ="hidden" id="game_menu" data-toggle="tab" href="#game_settings">Game settings</a></li>
            {{!--<li><a data-toggle="tab" href="#menu3">Menu 3</a></li>--}}
        </ul>

          <div class="tab-content">
            <div id="general_menu" class="tab-pane fade in active">
                <h3>General</h3>


                <a href="/lobby/leave"><button class="btn form-control">Leave Lobby</button></a>
            </div>



            <div id="spectator_settings" class="tab-pane fade">
                <h3>Spectator settings</h3>
            </div>
            
            
            
            <div id="team_settings" class="tab-pane fade">
                <h3>Team settings</h3>
                <div class="form-horizontal">
                    <label class="control-label col-sm-4" for="team_name">Team name:</label>
                    <div class="col-sm-8"> 
                        <input type="text" class="form-control" id="team_name" placeholder="Enter name">
                    </div>
                    <label class="control-label col-sm-4" for="team_color">Team color:</label>
                    <div class="col-sm-8"> 
                        <input type="color" class="form-control" id="team_color" placeholder="Enter color">
                    </div>
                </div>

                {{!--<button id="team_update" class="btn btn-primary">UPDATE</button>--}}
                
            </div>

            <div id="game_settings" class="tab-pane fade">
                <h3>Game settings</h3>
            </div>
        </div>

    </div>

</div>
<script src="/js/datatables.min.js"></script>
<script src="/js/socket.io.js" type="text/javascript"></script>
<script src="/js/BootstrapAlert.js" type="text/javascript"></script>
<script src="/js/TeamTable.js"></script>
<script>
    
    var socket = io("localhost:{{socketPort}}/lobby");
</script>
<script src="/js/lobby/view.js"></script>